@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
body {
    margin: 0;
    min-height: 120vh; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: pink;
    overflow-x: hidden;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
    font-family: 'Chewy',cursive;
    color: rgb(234, 50, 80);
}

.next-link {
    text-decoration: none;
    margin-top: 0px;
}

button {
    padding: 12px 25px;
    border-radius: 25px;
    background-color: #ff4d6d;
    color: white;
    cursor: pointer;;
    overflow: hidden; 
    border: none;
}
.main-container {
    width: 100%;
    overflow: hidden;
}

.scroll-track {
    display: flex;
    gap: 50px; 
    padding: 20px;
    width: max-content;
    animation: scroll-left 25s linear infinite; 
}

.polaroid {
    background: white; 
    padding: 14px;
    padding-bottom: 40px; 
    width: fit-content;
    border-radius: 6px; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.25); 
    flex-shrink: 0;
}
.polaroid:nth-child(odd) { transform: rotate(8deg); }
.polaroid:nth-child(even) { transform: rotate(-8deg); }

.polaroid img {
    display: block;
    border-radius: 4px;
    width: 180px; 
    height: 250px; 
    object-fit: cover;
}

@keyframes scroll-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
button {
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    background: #ff4d6d;
    color: white;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.button-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    margin-top: auto;
}
button::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -60%;
    width: 20%;
    height: 200%;
    background: rgba(255, 255, 255, 0.4);
    transform: rotate(30deg);
    transition: none;
}

button:hover::after {
    left: 120%;
    transition: all 0.6s ease-in-out;
}
a[href ="page3.html"]{
    margin-top:auto;
    padding:20px;
}